PORT="Your Server Port Goes Here"
DB_CONNECTION="Your Database Login Credentials Goes Here"
SESSION_SECRET="Secret used to hash session cookie"
GOOGLE_CLIENT_ID="Google Client ID Goes Here"
GOOGLE_CLIENT_SECRET="Google Client Secret Goes Here"